{% extends 'base_content.html' %}

{% block title %}| Feed{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <h1>Feed</h1>
      <form action="{% url 'new_post' %}" method="post" class="mb-3">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Post" class="btn btn-primary">
      </form>
      <p>This is where the feed would go.</p>
    </div>
  </div>
</div>
{% endblock %}
